---
name: Security

on: # yamllint disable-line rule:truthy
  pull_request: {}
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      security-type:
        description: What Security scanning you would like to run?
        required: false
        default: "all"
        type: choice
        options: ["all", "sca", "code-scanning", "pnpm-audit"]

defaults:
  run:
    shell: sh

jobs:
  sast:
    name: SAST
    permissions:
      contents: read
      security-events: write
    uses: fabasoad/reusable-workflows/.github/workflows/wf-security-sast.yml@main
    with:
      code-scanning: ${{ (inputs.security-type || 'all') == 'all' || inputs.security-type == 'code-scanning' }}
      sca: ${{ (inputs.security-type || 'all') == 'all' || inputs.security-type == 'sca' }}
  pnpm-audit:
    name: pnpm audit
    if: ${{ (inputs.security-type || 'all') == 'all' || inputs.security-type == 'pnpm-audit' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v5
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          standalone: "true"
      - name: pnpm audit
        run: pnpm audit
