// Colors
$pink: #c56ddb;
$light-pink: #d591e5;
$dark-pink: #bf5ad8;
$dark-grey: #212529;
$grey: #333;
$orange: #e87e04;
$white: #f4f5f6;
$dark-white: #d3ddec;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
